<!DOCTYPE html>
<html>
<head>
	<title>Link Crusher</title>
	<link href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav>
	<div class="container">
    	<div class="nav-wrapper">
      		<a href="/">Link Crusher</a>
  			<a href="/links/" class="right">All Links</a>
		</div>
	</div>
  </nav>
  <div class="container">
