<!-- views/partials/header.ejs -->

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons">polymer content_cut http</i></a>
        <ul id="nav-mobile" class="right hide-on-sm-and-down">
            <li><a href="/links">All Links</a></li>
        </ul>
    </div>
</nav>