<!DOCTYPE html>
<html>
<head>
	<title>Link-shorter</title>
	<!-- <!-Latest compiled and minified CSS & JS> -->
	<link href='https://fonts.googleapis.com/css?family=Tulpen+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Passion+One:400,900' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<h1 id="title">Link-Shortner</h1>
		<form action="/links" method="POST">
			<input type="text" name="linkName" placeholder="Please enter a URL" maxlength="100000000"></input>
			<button type="submit">Shorten</button>
		</form>
	</div>
 