<h1>Enter a Link</h1>

<form action="/link" method="POST">

  <input type="text" name="linktoshorten" class="textStyle" value="http://" required>
  <input type="submit" class="submitButton">

</form>
