<div class="well">
  <h1>Click the link below.</h1>
  <a href="http://localhost:3000/<%= hash %>">localhost:3000/<%= hash %></a>

  <h3> Or copy and paste this into your address bar</h3>

  <p>localhost:3000/<%= hash %></p>
</div>

<div class="container-fluid col-xs-offset-4 col-xs-4">
  <img src="https://cdn.tutsplus.com/mac/uploads/2013/09/vanityURL-preview-retina.png">
</div>