<form method="POST" action="/">
	<div class="form-group">
		<label for="url">Enter the URL you'd like to shorten:</label>
		<input type="text" name="url" id="url" placeholder="http://www.yoururl.com" class="form-control">
	</div>
	<input type="submit" class="btn btn-primary" value="Shorten Link">
</form>