<form method="POST" action="/links" class="container text-center">
	<div class="form-group">
		<textarea name="urlLink"></textarea>
	</div>
	<div>
		<input type="submit" value="Shorten URL">
	</div>
</form>

