<form action="/links" method="POST">
  <h2>Create a shortened link</h2>
  <div class="form-group">
    <label>URL:</label>
    <input name="url" type="text" class="form-control" placeholder="Enter your url here">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-default" value="Create shortened Link">
  </div>
</form>
