<form method="POST" action="/links/:id">

	<div class="form-group">
		<label for="url">URL:</label>
		<input type="text" id="url" name="url" class="form-control" placeholder="Type your long URL">
<!-- 		request.body. is how we access it from backend
 -->
	</div>
	<input type="submit" class="btn btn-success" value="Shorten Link">
</form>