
<h3>Make some fine-ass links.</h3>
<div class="row">
  <div class="col-lg-6">
  <form action="/links" method="POST" id="form">
    <div class="input-group">
      <input type="url" name="url" id="url" class="form-control" placeholder="Copy your link here" required>
      <span class="input-group-btn">
        <input type="submit" class="btn btn-info" type="button">Shaw.ty It!</button>
      </span>
    </div>
</form>
  </div><!-- /.col-lg-6-->
 </div> <!-- /.row -->