<h3>FORM</h3>
<form method="post" action="/">
	<div class="form-group">
		<input type="text" name="url" placeholder="Long Ass URL">
	</div>
	<input type="submit" name="submit" class="btn btn-danger">
</form>