<form action="/links" method="post">
  <div class="form-group">
    <label for="url">URL:</label>
    <input type="text" class="form-control" name="url" placeholder="Paste link here">
  </div>
  <input type="submit" class="btn btn-primary" name="" value="Hash the link">
</form>
