<form class="form" method="post" action="/links">
	<div class="form-group">
		<input type="text" name="url" id="url" class="form-control" placeholder="Your original URL here">
		<input type="submit" class="btn btn-default" value="Shorten URL">
	</div>
</form>