<h1>LINK SHORTENER</h1>

<form method="post" action="/links">
  <div class="form-group">
    <label for="author">Link To Shorten: </label>
    <input type="text" id="url" name="url" class="form-control">
  </div>
  <input type="submit" value="short'n" class="btn btn-primary">
</form>