<h1>Welcome to Link Shortner</h1>
<div class="row">
  <div class="col-xs-12">
   Shorten your URL in the field below: 
    <form method="POST" action="/shortner">
		  <input type="text" placeholder="URL"  name="url">
		  <input type="submit" value="Shorten">
		</form>
		<div>
		<input type="text" placeholder="Shortened URL" name="shortUrl">
		</div>
  </div>
</div>