
<div class='text-center'>
	<h1 style="position:absolute ; width:100% ; margin-top:70px; color:white"> SHORTEN DA LINK MEOW</h1>
	<img class='img-circle' src='http://www.tshirtvortex.net/wp-content/uploads/Mister-Mittens-Big-Adventure.jpg'/>
</div>

<div>
	<form class='form-inline text-center' method="POST" action="/links">
		<input placeholder="input url" name="longlink">
		<button class="btn btn-success" type="submit"> Submit URL </button>
	</form>
</div>

