<!DOCTYPE html>
<html>
<head>
	<title>Link Crusher</title>
	<link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<h1>Link Crusher</h1>
	<form action="links" method="POST">
		<input class="form-control" name="id" type="url" autofocus />
		<button class="btn btn-default" type="submit">Submit</button>
	</form>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
