<form action="/" method="POST" role="form">
	<div class="form-group text-center">
		<label for="url">Shortify:</label>
		<input type="url" class="form-control" id="url" placeholder="Enter your link to shortify" name="url" id='url' required>
	</div>
	<button type="submit" class="btn btn-primary" id="submit">Get Hash</button>
</form>

<a href='/links'><h3>ALL SHORTENED URLS</h3></a>