<h1>Easy Link Shortener</h1>

<form method="POST" action="/links">
  <input type="text" id="url" name="url" placeholder="Paste URL to Shorten Here">
  <button type="submit" id="shorten-button">Submit</button>
</form>

