<div class="page-header">
	<h1>kninja <small>Shorten url</small></h1>
</div>
<h4>Simplify url</h4>
<form action="/simple-url" role="form" method="POST" class="get-url">
	<div class="form-group">
		<input type="text" name="link" placeholder="Paste link" class="form-control" />
		<button type="submit">Go!</button>
	</div>
</form>
	

