<h1>Link Shortener</h1>
<p>Copy and paste a link in the text field to generate a shorer one.</p>
<form method="POST" action="/links">
  <label for="url">URL</label>
  <input type="text" name="url" placeholder="enter URL here">
  <input type="submit">
</form>
