<h1>Add a Link</h1>

<form action="/links" method="POST">
	<div class="form-group">
		<input type="text" name="link" placeholder='paste your link'>
		<input type="submit" name="submit" class='btn btn-primary'>
	</div>

</form>