<form action="/link" method="POST" class="put-form">
  Type your link to be shortened here:
  <input type="text" name="url" placeholder="Your link here">
  <button type="submit">Submit </button>
</form>
