<div class="container">
  <h1>Simple Fucking Link Shortener</h1>
  <h3>with analytics and shit, too - DAYUM!!!</h3>
</div>

<div class="container">
  <form action="/links" method="POST">
    <div class="form-group">
      <label for="url">Link to Shorten</label>
      <input type="text" class="form-control" id="url" name="url">
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
</div>
