<div >
	<h1>Link Shortener</h1>
	<form method='POST' action='/links' class='urlForm'>
		<input type='text' name='url' id='url' class='form-control' placeholder='Enter URL to shorten'>
		<a href='/links' class='btn btn-primary submitBtn'>Shorten me!</a>
	</form>
</div>