<h1>Link Snipper</h1>

<form method="POST" action='/links'>
  <h3>Shorten your link!</h3>
  <label for="longUrl" class="label">Enter a long URL:</label>
  <input type="text" name="longUrl" id="longUrl" required>
  <input type="submit" name="Submit" class="btn btn-primary">
</form>
