<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h2>Create a Little Link</h2>

  <form class="form-inline" action="/links" method="POST">
	  <div class="form-group">
	    <label for="enterUrl"> Enter URL: </label>
	    <input type="text" class="form-control" name="enterUrl" placeholder="http://www.your-url.com/really-long-url">
	  </div>
	  <button type="submit" class="btn btn-primary"> Go! </button>
	</form>
</div>