<div class="container">
  <div class="well">

    <form method="POST" action="/links">
      <div class="form-group">
        <label for="long-url">Long URL</label>
        <input id="longUrl" type="text" class="form-control" name="longUrl" value="http://" required />
      </div>
      <input type="submit" class="btn btn-success">
    </form>

  </div>

</div>
