<form action="/" method="POST" role="form">
	<div class="form-group text-center">
		<label for="url">Shortify:</label>
		<input type="text" class="form-control" id="url" placeholder="Enter your to shortify" name="url">
	</div>
	<button type="submit" class="btn btn-primary">Get Hash</button>
</form>

<a href='/links'><p>ALL URLS</p></a>