<!DOCTYPE html>
<html>
<head>
	<title>Link Crusher</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
	<h1>Link Crusher</h1>
	<div class="container">
		<form action="links" method="POST">
			<div class="row">
				<div class="col s8">
					<input class="form-control" name="id" type="url" autofocus />
				</div>
				<div class="col s4">
					<button class="button" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</body>
</html>
