<!-- Form used to take the input from the user and pass it to the index.js file for processing
 when the shorten button is clicked -->
<form class="shortenfield position" action="/link" method="POST" class="navbar-form navbar-center position" role="search">
  	<h2>short.ify</h2>
  	<div class="form-group">
    	<input name="linkToShorten" type="text" class="form-control" placeholder="type an address to shorten">
  	</div>
  	<button type="submit" class="btn btn-default">Shorten</button>
</form>

