<h1>Add a Link</h1>

<form action="/places" method="POST">
	<div class="form-group">
		<input type="" name="name" placeholder='paste your link'>
		<input type="submit" name="submit" class='btn btn-primary'>
	</div>



</form>