<h1>Link Shortener</h1>

<form action="/movies" method="GET" role="form">
  <legend>Make a link shorter!</legend>

  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Paste link here!" name="q">
  </div>
  <button type="submit" class="btn btn-primary">Shorten!</button>
</form>
