<div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-2">
  <h2>Create a Short URL</h2>

  <form class="form-inline" action="/" method="POST">
	  <div class="form-group">
	    <label for="exampleInputName2">Enter URL: </label>
	    <input type="text" class="form-control" id="enter-url" placeholder="http://www.your-url.com/really-long-url">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>


<!-- 
  <form action="/" method="POST">
    Team Name: <input type="text" name="url" />
    <button class="btn btn-primary" type="submit"> Submit </button> 
  </form> -->
</div>
