<h1>Gonna make some short links</h1>
<form action="/link" method="POST">
	<input type="text" name="urlInput" placeholder="Input URL to be shortened here" size="150"></input>
	<p><button type="submit">Create New URL</button></p>
</form>
