<h1>Link Shortener</h1>

<form  class="form-inline" action="/links" method="POST">

		<label>URL to be Shortened</label>
		<input class="form-control" placeholder="Your Site Here" type="text" name="s">


		<input class="btn btn-primary" type="submit">

	</form>