<div class='container text-center well'>
	<h3> Link Shortner</h3>
		<form action="/links" method="POST">
			<input type="text" name="url" placeholder="enter full url">
			<input type="submit">
		</form>
</div>
