<h1>Home Page</h1>

<form action="/show" method="POST" role="form">
  <div class="form-group">
    <label for="input-link">Link Me</label>
    <input type="text" class="form-control" id="input-link" name="inputLink" placeholder="Enter your link">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><br /><br />

  <a href="/show"><button type="button" class="btn btn-default">Created Links</button></a>
</form>