<h1>Welcome to Twitter</h1>
<div class="row">
  <div class="col-xs-12">
    <a href="/auth/signup">Sign up</a> for an account, log in, or simply browse the firehose.
    And remember, 1 + 1 = <%= 1 + 1 %>
  </div>
</div>