<div >
	<h1>Link Shortener</h1>
	<form method='POST' action='/links' class='urlForm'>
		<input type='text' name='url' id='url' class='form-control urlData' placeholder='Enter URL to shorten'>
		<input type='submit' value='Shorten me!' class='btn btn-primary submitBtn'>
	</form>
</div>