<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Link Shortener!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Shorten URL's</h1>
      <div class="col-sm-6 col-sm-offset-3">
        <a href="/" class="btn btn-primary btn-block">Home</a>
      </div>
    </div>
    <%- body %>
  </body>
</html>