<!DOCTYPE html>
<html>
<head>
<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA//zmAODgvADFzEMA4/+jAND1AAD2/1kAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADUAAAAAAAADNVAAAAAAADNEVQAAAAADM0RVUAAAADM0REVVAAADMzRERVVQADMzREREVVUAAiIRERFmYAAAIiERFmYAAAACIhFmYAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AAD//wAA/n8AAPw/AAD4HwAA8A8AAOAHAADAAwAAgAEAAMADAADgBwAA8A8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/css/main.css">
<title>li.nk</title>
</head>
<body>

<%- body %>

</body>
</html>