<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <title>Short It</title>
</head>
<body>
  <div class="mainContent">
    <%-body %>
  </div>
</body>
</html>
