<!DOCTYPE html>
<html>
<head>
	<title>Link Shortener</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		body {
			text-align: center;
			background-color: gray;
		}
		h1 {
			color: green;
		}
	</style>
</head>
<body>
<h1>Jacob's Link Shortener</h1>

<%- body %>

<hr>

<a href="/" class="btn btn-success">Home</a>

</body>
</html>