<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
  <title>Link Short!</title>
</head>
<body>
  <div class="mainContent">
    <%-body %>
  </div>
</body>
</html>
