<!DOCTYPE html>
<html>
<head>
	<title>Link Shortener</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
	<div class="text-center">
	<h1>Link Shortener</h1>
	<p>come for teh short links dawg</p>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%- body %>
		</div>
	</div>

	<hr>
	<div class="row text-center">
		<div class="col-xs-12">
			<a href="/" class="btn btn-info">Home</a>
			<a href="/" class="btn btn-info"></a>
			<a href="" class="btn btn-primary"></a>
			<a href="" class="btn btn-primary"></a>
		</div>
	</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>