<!DOCTYPE html>
<html>
<head>
	<title>Link Enshortenator!</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div id="container">
    <header>
  	 <h1>Welcome to the Link Enshortenator!</h1>
  	 <h2>We pride ourselves on taking links and enshortenating them!</h2>
    </header>
	<%- body %>
  </div>
</body>
</html>