<!DOCTYPE html>
<html>
<head>
	<title>New URL</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<section class="container">
		<h1>Shorten URL</h1>
		<form method="POST" action="/links">
      		<div class="form-group">
        		<label for="url">Type Link:</label>
        		<input type="url" id="url" name="url" class="form-control" placeholder="Type link here">
      		</div>
      		<input type="submit" class="btn btn-success" value="show">
      <%- body %>
		</form> 	
	</section>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>