<!DOCTYPE html>
<html>
<head>
	<title>Shortened Link</title>
</head>
<body>
<h1>Original Link:</h1>
<p><%= url %></p>
<h1>Shortened Link:</h1>
<p><a href='http://localhost:3000/<%= hash %>'>http://localhost:3000/<%= hash %></a></p>
<p>This link has been clicked <%= clickCount %> times.</p>
</body>
</html>