
	<div class='container'>
		<h2>Shortened Link Below:</h2>
		<a href="http://localhost:3000/<%= shortUrl %>">http://localhost:3000/<%= shortUrl %></a></h3>
		<p>Number of times link has been clicked = <%= count %></p>
		<div class="homediv"><a class="white" href="/">&larr;Link Shortener Home</a></div>	
	</div>