<h1>Here is your link!</h1>


<%= links.linkUrl  %>

<p>
	<a href="http://localhost:3000/<%= links.linkHash %>">http://localhost:3000/<%= links.linkHash %></a>
</p>

<p> This link has been click # times.</p>