<h1>All Links</h1>

<% links.forEach(function(link) { %>
  <div>
    <ul>
    <li>
<h4 class="inline">Original URL: </h4><a href="<%= link.url %>"><%= link.url %></a><br>
<h4 class="inline">Shortened URL: </h4><a href="/<%= link.hash %>">short.<%= link.hash %>.ener </a>
    </li>
    </ul>
  </div>
<% }); %>
