<% include ../partials/header.ejs %>

<table>
    <thead>
      <tr>
          <th data-field="id">Website</th>
          <th data-field="name">Crushed Link</th>
          <th data-field="count">Number of Clicks
      </tr>
    </thead>
    <tbody>

	<h1>Crushed Links</h1>
	<% list.forEach(function(row) { %>

	<tr>
        <td><%= row.url %></td>
        <td>
        	<a href='http://localhost:3000/<%= row.hash %>'>
        		http://localhost:3000/<%= row.hash %>
    		</a>
		</td>
        <td><%= row.clickcount %></td>
    </tr>
		
	<% }) %>

	</tbody>
</table>

<% include ../partials/footer.ejs %>