<h1>Hola Front-End</h1>

<form action="/links" method="POST">
  <label for="url">URL to Shorten</label>
  <input type="text" name="url" required>
  <input type="submit" class="btn btn-primary">
</form>
