<h3>Main Page Yo!</h3>

<form action="/urlShow" method="POST">
  <div class="form-group">
    <input type="text" name="url" class="form-control" placeholder="URL" required>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>


