<h1>Bienvenidos!</h1>

<h3>Welcome to the link shortner!</h3>

<p>Tired of taking up 4 lines with that teacup+pig+running+in+grass link? Say no more, just past that long link below and we'll give you something as cute and tiny as a teacup pig to send or post anywhere.</p>
<hr/>
<p><strong>Type or paste</strong> your link below. Don't forget to include <strong> https://</strong> in order to ensure connectivity!</p>

<br>

<form action="/links" method="POST" id="form">
  <div class="form-group container">
    <label for="url">URL to Shorten</label>
    <input type="url" name="url" class="form-contorl" placeholder="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=micro+pig+belly+rub" required>
  </div>
    <input type="submit" class="btn btn-primary">
</form>
