<div class="container">
  <div class="well">

    <p>Long URL is:</p>
    <h3><%- link.url %></h3>

    <br />

    <p>Hash loads:</p>
    <h3><%- link.count %></h3>

    <hr />
    <a class="btn btn-primary" href="/">Back</a>
  </div>
</div>
