<h1>Tweet your heart out :)</h1>
<form method="POST" action="/tweets">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="content" placeholder="What's on your mind?">
  <input type="submit" value="Tweet">
</form>