
 <!DOCTYPE html>
 <html>
 <head>
   <title>URL Shortener</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 </head>
 <body>
<div class="container">
 <h3>Enter a URL below to get a shortened version.</h3>
  <form method="POST" action="/links">
  <div class="form-group col-xs-12">
    <label for="url">URL:</label>
    <input type="text" name="url" id="url" class="form-control" placeholder="Enter URL Here">
    <input type="submit" class="btn btn-success" value="Get Short URL">
  </div>
</form>
</div>
 </body>
 </html>
