<div class="container">
<h1> Tada! <br>
<small>Here is your shortened URL:</small></h1><br>
	<div class="well">
		<h3><a href="http://localhost:3000/<%= shortURL %>">http://localhost:3000/<%= shortURL %></a></h3><br>
		<p>This link has been clicked <%= URLcount %> times.</p> 
	</div>
	<div><a href="/">&larr;Home</a></div>
</div>