<h1>You Been Sub.ed</h1>
<div class="well">
	<div class="well">
		<label>id:</label>
			<%= row.id %>
	</div>
	<div class="well">
		<label>Url:</label>
		<%= row.url %>
	</div>
	<div class="well">
		<label>Shortened Url:</label>
		<%= row.hash %>
	</div>
</div>
