<div class="container">
	<div class="page-header">
		<h1>k.ninja <small>Url has been simplified!</small></h1>
	</div>
	<h4>Copy to share and use it, or click it to go!</h4>
	<a href="<%= longUrl %>"><p class="go"><%= shortLink %></p></a>
	<br/>
	<a href="/links/all" class="btn btn-primary">See all my simplified urls</a>
	<a href="/" class="btn btn-primary">Home</a>
</div>