<div class="container">
  <div class="well">
    <label>Short URL</label>
    <input type="text" class="form-control" id="shortUrl" value="localhost:3000/<%- hash %>" />
    <br />
    <a class="btn btn-primary" href="/">Back</a>
  </div>
</div>
