<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your New URL</title>

    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
  </head>
  <body>
    <br>
    <br>
    <input class="btn-success form-group text-center col-md-6 col-md-offset-3" value="Your New URL" style="font-size:30px"></input>
<!--     <#% link.forEach(function(id){ %> -->
    <br>
    <a class="btn-info form-group text-center col-md-6 col-md-offset-3" href="/<%= hash %>" style="font-size:28px">localhost:3000/<%= hash %></a>
<!--     <#% }); %> -->

    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>