<h1>Sign Up For A New Account</h1>
<form method="POST" action="/auth/signup">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign Up</button>
</form>