
<div class="well">
  <h2>Shortened Link</h2>
  <h3><a href="http://localhost:3000/<%= link2 %>">http://localhost:3000/<%= link2 %></a></h3>

  <h4>http://localhost:3000/<%= link2 %></h4>
  <% console.log('$$$$$', link2) %>

</div>
