body {
  background-color: #a0ccff;
}
.panel-title {
  text-align: center;
  color: #23568f;
}
.title-shortener {
  color: #23568f;
  text-align: center;
}
.panel-title {
  background-color: #0d193b;
}
