/*Main css file to control the style fo the entire web app*/

/*CSS styling for the main page input form*/
.shortenfield {
	width: 22em;
}

/*CSS styling for the short address display element*/
#displayShortAddress {
	width: 30em;
}

/*class to apply positioning to all elements that include it*/
.position {
	margin: 20em auto 0 auto;
	text-align: center;
}

/*css to adjust position of the index*/
#index {
	margin: 0 auto;
	text-align: center;
}

#linkToIndexFromHome {
	margin: 5em auto 0 auto;
	text-align: center;
}
