

<h3>Here is your enshortenated link</h3>

<p>Holy crap, we did it! I know you were probably all "No way man, that link is much too long. You'll never be able to enshortenate such a link." But look at that... WE TOTALLY DID! I bet you feel like a jackass now, don't ya? It's okay. We still love you. Anyway, enjoy your new enshortenated link. Use it where ever. Rub it all over your body if you really want to. We won't judge.</p>

<p><a href='localhost:3000/links/<%= tinyurl.hash %>'> localhost:3000/links/<%= tinyurl.hash %> </a></p>