<div id="index">
  <form id="linkToIndexFromHome" class="shortenfield" action="/">
    <button type="submit" class="btn btn-default">Home</button>
  </form>
  <div class="container">
    <h1 style="color: grey">Shortened links</h1>
    <% link.forEach(function(address) { %>
      <div class="well" >
        <h3>Address - <%= address.link %></a><br>
        Shortens to - localhost:3000/<%= address.short %><br>
        link used <%= address.count %> times.</h3>
      </div>
    <% }); %>
  </div>
</div>
