<!-- creates a div to diaplay the shortened address link and counter -->
<div class="position" id="displayShortAddress">
	<h3>Address - <%= address %></a><br>
    Shortens to - localhost:3000/<%= hashid %><br>
    link used <%= count %> times.</h3>
    <form id="linkToIndexFromHome" class="shortenfield" action="/">
    	<button type="submit" class="btn btn-default">Home</button>
  	</form>
</div>


