<!-- creates a div to diaplay the shortened address link and counter -->
<div class="position" id="displayShortAddress">
	<h3>Address - <%= address %></a><br>
    Shortens to - localhost:3000/<%= hashid %><br>
    link used <%= count %> times.</h3>
    <div><p><a class="btn btn-primary btn-lg" href="localhost:3000/" role="button">Shorten Another Address</a></p><div>
</div>


