<!-- creates a div to diaplay the shortened address link and counter -->
<div id="displayShortAddress">
  <h3>Address - <%= address %></a><br>
    Shortens to - localhost:3000/<%= hashid %><br>
    link used <%= count %> times.</h3>
    <button href="/">Shorten Another Address</button>
</div>
