<h1>Link Shortener</h1>

<form action="/links" method="POST">
  <div class="form-group">
  <input type="text" class="form-control" id="url" name="url" placeholder="enter URL here" required>
  </div>

  <input type="submit" class="btn btn-primary">

</form>
