<h1>Link Shortner</h1>

<form action="/links/" method="POST">
  <input class="form-control" type="text" name="url" placeholder="Enter URL"  >
  <input class="btn btn-primary" type="submit" name="submit_btn">
</form>
