<form action="/links" method="POST">
  <div class="form-group">
    <label for="link">Link</label>
    <input type="text" class="form-control" id="link" name="url" required>
  </div>

  <input type="submit" class="btn btn-primary">
</form>

