

<div class="well">
  <form method="POST" action="/urlshow">
    <div class="form-group">
      <input type="text" name="url" placeholder="URL" class="form-control">
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
