

<div class="container">
  <div class="well text-center">
    <form method="POST" action="/urlshow">
      <div class="form-group">
        <input type="text" name="url" placeholder="URL" class="form-control" required>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
