<div>
  <h1>that link looks a bit long.</h1>
  <form class="link-shortener-form form-inline" method="POST" action="/links">
    <input type="url" name="originalURL" class="form-control text" id="original-url" placeholder="give it to me.">
    <button class="btn btn-default" type="submit">shorten it.</button>
  </form>
</div>
