<h1> Link Shorty </h1>

<form action="/posts" method="POST">
  <div class="form-group">
    <label for="url">link shortner</label>
    <input type="text" class="form-control" id="url" name="url" required>
    </div>

    <input type="submit" class="btn btn-primary">
</form>
