<h1>Shortened Link</h1>

<!-- <#% links.forEach(function(link) { %> -->
  <div class="well">
    <h2>
      <%= url %>
    </h2>
  </div>
<!-- <#% }); %> -->

<hr />

<a href="/">&larr; Back Home</a>
