/*
Project Name: Link-Shortner
Client: Me
Author: Jonathan Andrew
Developer @GA in Seattle
*/


/******************************************
/* SETUP
/*******************************************/


.title{
    text-decoration: underline;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}